.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}
.bgBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  backdrop-filter: blur(8px);
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 64px;
}
.verifyWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(77, 62, 43, 0.34);
  border: 2px solid rgba(207, 178, 147, 1);
  position: relative;
  padding: 12px 32px;
  z-index: 0;
}
.verifyText {
  font-size: 32px;
  line-height: 28px;
  color: rgba(207, 178, 147, 1);
  font-weight: 700;
}
.verifyButton {
  padding: 10px 20px;
  border: 2px solid rgba(207, 178, 147, 1);
  background-color: #4d3e2b;
  color: #d9d9d9;
  font-weight: 500;
  font-size: 20px;
}
.content {
  width: 100%;
  height: fit-content;
  max-width: 1650px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.main {
  display: flex;
  gap: 32px;
  max-width: inherit;
  max-height: 800px;
}
.block {
  background-color: rgba(77, 62, 43, 0.34);
  backdrop-filter: blur(38.5px);
  border: 2px solid rgba(207, 178, 147, 1);
  max-height: inherit;
  width: 100%;
}
.block:first-child {
  width: 35%;
}
.block:last-child {
  width: calc(65% - 32px);
}

@media screen and (max-width: 1200px) {
  .main {
    gap: 24px;
  }
  .block:last-child {
    width: calc(65% - 24px);
  }
  .verifyText {
    font-size: 26px;
  }
  .verifyButton {
    padding: 8px 16px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
    max-height: none;
    height: auto;
    width: 100%;
  }
  .verifyWrapper {
    padding: 10px 24px;
  }
  .verifyText {
    font-size: 22px;
  }
  .verifyButton {
    font-size: 18px;
    padding: 8px 16px;
  }
  .block {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 40px;
  }
  .verifyWrapper {
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 16px;
  }
  .verifyWrapper {
    padding: 8px 16px;
  }
  .verifyText {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) and (min-height: 1024px) {
  .main {
    flex-direction: column;
    max-height: none;
    height: auto;
    width: 100%;
  }
  .block {
    width: 100% !important;
  }
}
